<% include header %>
<% include nav%>

<a href="/"><< back to home</a>

<h2>This page was not found</h2>

<section>
<p>I am sorry but this resource has not been found</p>
</section>

<% include footer %>
