<!DOCTYPE HTML>
<html>
	<head>
		<title>FestiNews</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Ultra" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Gravitas+One" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		
		<div class="border">
		  <h1> • FestiNews • </h1>
		</div>
